{# login page #}
{% extends "layout/main.html.twig" %}

{% set page = 'config_error' %}

{% block content %}
<br>
<br>
<br>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-6 mx-auto">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{error_message | raw}}
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}