{# login page #}
{% extends "layout/main.html.twig" %}

{% set page = 'config_error' %}

{% block content %}
<br>
<br>
<br>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-6 mx-auto">
            <br>
            <div class="alert alert-danger shadow-sm" role="alert">
                <i class="fas fa-exclamation-circle fa-lg fa-fw"></i> {{error_message | raw}}
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}