                <ul id="site_dropdown" class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbar_site_dropdown_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sites
                        </a>
                        <a class="nav-link dropdown-toggle d-lg-none" href="#" id="navbar_site_dropdown_link_small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sites
                        </a>
                        <div class="dropdown-menu dropdown-menu-left scrollable-menu shadow" aria-labelledby="navbar_site_dropdown_link">
                            <h5 class="dropdown-header">Select a site</h5>
{#   here we inject site links using Javascript   #}
                        </div>
                    </li>
                </ul>